h1 {color: #4f5265; text-align: center;}
h2 {color: #479EC4; text-align: center;}
p {color: #828792; text-align: center;}
.primary-div {display: block; background-color: #A1B7A6; width: 100%;}
.secondary-div {display: block; background-color: #A1B7A6; width: 100%;}